In [2]:
import pandas as pd

# Things Worth doing
* Individual calendar for students
    * with location
* Get location/Schedule of a teacher
* Get the amount of students a teacher handles, 
    * Find out who has the maximum power to change overall marks
    * Number of students summed over all the courses he gives
    * 
* Most popular courses, least popular courses
* Who takes what

# Slot System Parsing

In [130]:
df = pd.read_csv("Slot System.csv")

In [133]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Forenoon Slots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
3,Mon,G,B,A,J,K,Lunch,NaN,NaN,NaN,I
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Tue,NaN,F,C,B,E,NaN,NaN,NaN,NaN,I
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Wed,G,F,C,D,E,NaN,NaN,NaN,NaN,H
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Thu,G,F,A,J,K,NaN,D,NaN,NaN,C
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Fri,NaN,B,A,D,E,NaN,NaN,NaN,NaN,J
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Sat,NaN,NaN,NaN,I,K,NaN,H,H,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Afternoon Slots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
20,Mon,NaN,NaN,NaN,NaN,Lunch,W,Z,U,X,Y
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Tue,NaN,NaN,NaN,NaN,NaN,Z,V,S,U,X
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Wed,NaN,NaN,NaN,T,NaN,V,Y,S,X,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Thu,NaN,NaN,NaN,NaN,NaN,Z,T,W,S,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Fri,NaN,NaN,NaN,T,NaN,U,V,Y,W,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Note: Schedule of Laboratories will be prepare...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
t = df[df.columns[0]].notnull()
for i in range(1,len(df.columns)):
    t = t | df[df.columns[i]].notnull()

In [135]:
df = df[t]

In [8]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Forenoon Slots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
3,Mon,G,B,A,J,K,Lunch,NaN,NaN,NaN,I
5,Tue,NaN,F,C,B,E,NaN,NaN,NaN,NaN,I
7,Wed,G,F,C,D,E,NaN,NaN,NaN,NaN,H
9,Thu,G,F,A,J,K,NaN,D,NaN,NaN,C
11,Fri,NaN,B,A,D,E,NaN,NaN,NaN,NaN,J
13,Sat,NaN,NaN,NaN,I,K,NaN,H,H,NaN,NaN
17,Afternoon Slots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
20,Mon,NaN,NaN,NaN,NaN,Lunch,W,Z,U,X,Y
22,Tue,NaN,NaN,NaN,NaN,NaN,Z,V,S,U,X
24,Wed,NaN,NaN,NaN,T,NaN,V,Y,S,X,NaN
26,Thu,NaN,NaN,NaN,NaN,NaN,Z,T,W,S,NaN
28,Fri,NaN,NaN,NaN,T,NaN,U,V,Y,W,NaN
31,Note: Schedule of Laboratories will be prepare...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df[df["Unnamed: 0"].apply(lambda x: len(str(x)) == 3)]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
2,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
3,Mon,G,B,A,J,K,Lunch,NaN,NaN,NaN,I
5,Tue,NaN,F,C,B,E,NaN,NaN,NaN,NaN,I
7,Wed,G,F,C,D,E,NaN,NaN,NaN,NaN,H
9,Thu,G,F,A,J,K,NaN,D,NaN,NaN,C
11,Fri,NaN,B,A,D,E,NaN,NaN,NaN,NaN,J
13,Sat,NaN,NaN,NaN,I,K,NaN,H,H,NaN,NaN
19,NaN,08:00 - 08:55,09:00 - 09:55,10:00 - 10:55,11:00 - 11:55,12:00 - 12:55,13:00 - 13:55,14:00 - 14:55,15:00 - 15:55,16:00 - 16:55,17:00 - 17:55
20,Mon,NaN,NaN,NaN,NaN,Lunch,W,Z,U,X,Y
22,Tue,NaN,NaN,NaN,NaN,NaN,Z,V,S,U,X
24,Wed,NaN,NaN,NaN,T,NaN,V,Y,S,X,NaN
26,Thu,NaN,NaN,NaN,NaN,NaN,Z,T,W,S,NaN
28,Fri,NaN,NaN,NaN,T,NaN,U,V,Y,W,NaN

In [17]:
df = df[df["Unnamed: 0"].apply(lambda x: len(str(x)) == 3)]

In [18]:
df.values

array([[nan, '08:00 - 08:55', '09:00 - 09:55', '10:00 - 10:55',
        '11:00 - 11:55', '12:00 - 12:55', '13:00 - 13:55',
        '14:00 - 14:55', '15:00 - 15:55', '16:00 - 16:55',
        '17:00 - 17:55'],
       ['Mon', 'G', 'B', 'A', 'J', 'K', 'Lunch', nan, nan, nan, 'I'],
       ['Tue', nan, 'F', 'C', 'B', 'E', nan, nan, nan, nan, 'I'],
       ['Wed', 'G', 'F', 'C', 'D', 'E', nan, nan, nan, nan, 'H'],
       ['Thu', 'G', 'F', 'A', 'J', 'K', nan, 'D', nan, nan, 'C'],
       ['Fri', nan, 'B', 'A', 'D', 'E', nan, nan, nan, nan, 'J'],
       ['Sat', nan, nan, nan, 'I', 'K', nan, 'H', 'H', nan, nan],
       [nan, '08:00 - 08:55', '09:00 - 09:55', '10:00 - 10:55',
        '11:00 - 11:55', '12:00 - 12:55', '13:00 - 13:55',
        '14:00 - 14:55', '15:00 - 15:55', '16:00 - 16:55',
        '17:00 - 17:55'],
       ['Mon', nan, nan, nan, nan, 'Lunch', 'W', 'Z', 'U', 'X', 'Y'],
       ['Tue', nan, nan, nan, nan, nan, 'Z', 'V', 'S', 'U', 'X'],
       ['Wed', nan, nan, nan, 'T', nan, 'V', 'Y', 'S', 'X', nan],
       ['Thu', nan, nan, nan, nan, nan, 'Z', 'T', 'W', 'S', nan],
       ['Fri', nan, nan, nan, 'T', nan, 'U', 'V', 'Y', 'W', nan]],
      dtype=object)

In [19]:
time = df.values[0]

In [20]:
time

array([nan, '08:00 - 08:55', '09:00 - 09:55', '10:00 - 10:55',
       '11:00 - 11:55', '12:00 - 12:55', '13:00 - 13:55', '14:00 - 14:55',
       '15:00 - 15:55', '16:00 - 16:55', '17:00 - 17:55'], dtype=object)

In [32]:
d = {}

for row in df.values:
    for i in range(len(row)):
        c = row[i]
        if len(str(c)) == 1:
            day = row[0]
            t = time[i]
            if c not in d:
                d[c] = []
            d[c].append((day,t))

In [33]:
d

{'G': [('Mon', '08:00 - 08:55'),
  ('Wed', '08:00 - 08:55'),
  ('Thu', '08:00 - 08:55')],
 'B': [('Mon', '09:00 - 09:55'),
  ('Tue', '11:00 - 11:55'),
  ('Fri', '09:00 - 09:55')],
 'A': [('Mon', '10:00 - 10:55'),
  ('Thu', '10:00 - 10:55'),
  ('Fri', '10:00 - 10:55')],
 'J': [('Mon', '11:00 - 11:55'),
  ('Thu', '11:00 - 11:55'),
  ('Fri', '17:00 - 17:55')],
 'K': [('Mon', '12:00 - 12:55'),
  ('Thu', '12:00 - 12:55'),
  ('Sat', '12:00 - 12:55')],
 'I': [('Mon', '17:00 - 17:55'),
  ('Tue', '17:00 - 17:55'),
  ('Sat', '11:00 - 11:55')],
 'F': [('Tue', '09:00 - 09:55'),
  ('Wed', '09:00 - 09:55'),
  ('Thu', '09:00 - 09:55')],
 'C': [('Tue', '10:00 - 10:55'),
  ('Wed', '10:00 - 10:55'),
  ('Thu', '17:00 - 17:55')],
 'E': [('Tue', '12:00 - 12:55'),
  ('Wed', '12:00 - 12:55'),
  ('Fri', '12:00 - 12:55')],
 'D': [('Wed', '11:00 - 11:55'),
  ('Thu', '14:00 - 14:55'),
  ('Fri', '11:00 - 11:55')],
 'H': [('Wed', '17:00 - 17:55'),
  ('Sat', '14:00 - 14:55'),
  ('Sat', '15:00 - 15:55')],
 'W': [('Mon', '13:00 - 13:55'),
  ('Thu', '15:00 - 15:55'),
  ('Fri', '16:00 - 16:55')],
 'Z': [('Mon', '14:00 - 14:55'),
  ('Tue', '13:00 - 13:55'),
  ('Thu', '13:00 - 13:55')],
 'U': [('Mon', '15:00 - 15:55'),
  ('Tue', '16:00 - 16:55'),
  ('Fri', '13:00 - 13:55')],
 'X': [('Mon', '16:00 - 16:55'),
  ('Tue', '17:00 - 17:55'),
  ('Wed', '16:00 - 16:55')],
 'Y': [('Mon', '17:00 - 17:55'),
  ('Wed', '14:00 - 14:55'),
  ('Fri', '15:00 - 15:55')],
 'V': [('Tue', '14:00 - 14:55'),
  ('Wed', '13:00 - 13:55'),
  ('Fri', '14:00 - 14:55')],
 'S': [('Tue', '15:00 - 15:55'),
  ('Wed', '15:00 - 15:55'),
  ('Thu', '16:00 - 16:55')],
 'T': [('Wed', '11:00 - 11:55'),
  ('Thu', '14:00 - 14:55'),
  ('Fri', '11:00 - 11:55')]}

In [36]:

def get_slots(path_to_csv):
    
    df = pd.read_csv(path_to_csv)

    t = df[df.columns[0]].notnull()
    for i in range(1,len(df.columns)):
        t = t | df[df.columns[i]].notnull()

    df = df[t]

    df[df["Unnamed: 0"].apply(lambda x: len(str(x)) == 3)]

    df = df[df["Unnamed: 0"].apply(lambda x: len(str(x)) == 3)]


    time = df.values[0]

    d = {}

    for row in df.values:
        for i in range(len(row)):
            c = row[i]
            if len(str(c)) == 1:
                day = row[0]
                t = time[i]
                if c not in d:
                    d[c] = []
                d[c].append((day,t))
    
    return d

In [88]:
slot_details = get_slots("Slot System.csv")

# Course list parsing

In [67]:
df = pd.read_csv("List of Courses.csv",header=1)

In [68]:
t = df[df["Course Code"].apply(lambda x: x.split()[1][0] in ["4","6"])]

In [69]:
t = t[t["Total Student"].apply(lambda x: x.isnumeric())]

In [70]:
t["Total Student"] = t["Total Student"].apply(lambda x: int(x))

In [71]:
t = t.sort_values(by="Total Student")

In [76]:
t.tail(50)

,#,Course Code,Title,_L_T_P_C_,Total Student,Course Coordinator,Course Instructor,Slot,Room No
99,100,ME 464/764,Microrobotics,2 - 1 - 0 - 3,12,Dr. I. A. Palani,"Dr. I. A. Palani,",T,0
135,136,MA 620,Partial Differential Equations,2 - 1 - 0 - 3,12,Dr. Antony Vijesh,"Dr. Antony Vijesh,",W,1E-202A
36,37,ME 407/607,Biofluid Mechanics,2 - 1 - 0 - 3,12,Dr. S. Dhinakaran,"Dr. S. Dhinakaran,",C,0
151,152,MA 680,Computational Techniques,3 - 0 - 2 - 4,12,Dr. Santanu Manna,"Dr. Bapan Ghosh, Dr. Santanu Manna, Dr. Sk. Sa...",Y,0
117,118,MA 612,Analysis-II,3 - 1 - 0 - 4,12,Dr. Bibekananda Maji,"Dr. Bibekananda Maji,",V,1E-202B
156,157,MA 640,Algebra-I,3 - 1 - 0 - 4,12,Dr. Anand Prakash,"Dr. Anand Prakash,",Z,0
82,83,ME 434/634,Principle of Product Design,2 - 1 - 0 - 3,13,Dr. Pavan Kumar Kankar,"Dr. Pavan Kumar Kankar,",S,sb
145,146,MM 656,Experimental Techniques in Materials,2 - 0 - 2 - 3,13,Dr. Dhirendra Kumar Rai,"Dr. Dhirendra Kumar Rai,",X,1D-207
86,87,CE 448,Pre-stressed Concrete,2 - 1 - 0 - 3,14,Dr. Kaustav Bakshi,"Dr. Kaustav Bakshi,",S,1E-505
109,110,EE 428/628,Advanced Memory Technology,2 - 1 - 0 - 3,14,Dr. Shaibal Mukherjee,"Dr. Shaibal Mukherjee,",U,0
123,124,MA 452/652,Theory of Transforms,2 - 1 - 0 - 3,14,Dr. Sanjeev Singh,"Dr. Sanjeev Singh,",V,1E-202A
158,159,ME 650,Materials Characterization Techniques,2 - 0 - 2 - 3,15,Dr. Satyajit Chatterjee,"Dr. Satyajit Chatterjee,",Z,0
110,111,ME 460/660,Technology of Surface Coating,2 - 1 - 0 - 3,16,Dr. Kazi Sabiruddin,"Dr. Kazi Sabiruddin,",U,0
120,121,AA 478/678,Space Weather,2 - 1 - 0 - 3,17,Dr. Saurabh Das,"Dr. Bhargav Vaidya, Dr. Saurabh Das,",V,1E-505
149,150,PH 624,Electronics,2 - 1 - 0 - 3,18,Prof. Krushna Mavani,"Prof. Krushna Mavani,",E,1E-506
21,22,CE 438,Probabilistic and Statistical Methods in Civil...,2 - 1 - 0 - 3,18,Dr. Guru Prakash,"Dr. Guru Prakash,",B,1E-408
118,119,PH 620,Statistical Mechanics,2 - 1 - 0 - 3,18,Prof. Subhendu Rakshit,"Dr. Sudip Chakraborty, Prof. Subhendu Rakshit,",V,1E-404
131,132,PH 622,Fundamentals of Solid State Physics,2 - 1 - 0 - 3,18,Dr. Preeti A. Bhobe,"Dr. Preeti A. Bhobe, Dr. Sudeshna Chattopadhyay,",W,1E-404
89,90,PH 660,Nuclear and Particle Physics,2 - 1 - 0 - 3,18,Dr. Manavendra Mahato,"Dr. Manavendra Mahato, Dr. Srimanta Pakhira,",S,1E-404
139,140,CH 642,Applied Inorganic and Nuclear Chemistry,2 - 1 - 0 - 3,20,Prof. Suman Mukhopadhyay,"Dr. Shaikh M Mobin, Prof. Suman Mukhopadhyay,",X,SB-115
126,127,CH 624,Total Synthesis and Natural Products Chemistry,2 - 1 - 0 - 3,20,Dr. Apurba K Das,"Dr. Apurba K Das, Dr. Chelvam Venkatesh,",W,SB-115
113,114,CH 604,Molecular Spectroscopy,2 - 1 - 0 - 3,20,Dr. Anjan Chakraborty,"Dr. Anjan Chakraborty, Dr. Tushar Kanti Mukher...",V,SB-115
101,102,CH 602,"Thermodynamics, Kinetics, Electrochemistry",2 - 1 - 0 - 3,20,Dr. Tridib Kumar Sarma,"Dr. Satya S. Bulusu, Dr. Tridib Kumar Sarma,",U,SB-115
13,14,EE 440/640,Analog and Mixed Signal IC Design,2 - 1 - 0 - 3,22,Dr. Santosh K. Vishvakarma,"Dr. Santosh K. Vishvakarma, Dr. Saptarshi Ghosh,",A,0
35,36,ME 432/632,Vibrations and Noise Control,2 - 1 - 0 - 3,23,Prof. Anand Parey,"Prof. Anand Parey,",C,0
20,21,MM 442/642,Quality Assurance in Metallurgy,2 - 0 - 2 - 3,23,Dr. Hemant Borkar,"Dr. Hemant Borkar,",B,1E-406
94,95,AA 608N,Astrostatistics,2 - 1 - 0 - 3,23,Dr. Suman Majumdar,"Dr. Suman Majumdar,",S,1E-505
125,126,MM 488/688,Electroceramics,2 - 1 - 0 - 3,24,Dr. Sunil Kumar,"Dr. Sunil Kumar,",V,1E-406
144,145,ME 437/637,Fracture Mechanics,2 - 1 - 0 - 3,24,Dr. Indrasen Singh,"Dr. Indrasen Singh,",X,0
107,108,AA 474N/674N,Radio Astronomy,2 - 1 - 0 - 3,25,Dr. Abhirup Datta,"Dr. Abhirup Datta, Dr. Manoneeta Chakraborty,",U,1E-505
22,23,EE 430/630,Analog CMOS IC Design,2 - 1 - 0 - 3,28,Prof. Abhinav Kranti,"Prof. Abhinav Kranti,",B,0
93,94,IHS 482,Introduction to International Development and ...,2 - 1 - 0 - 3,34,Dr. Ashok Kumar Mocherla,"Dr. Akshaya Kumar, Dr. Ashok Kumar Mocherla,",S,0
138,139,CE 408,Foundation Engineering,2 - 0 - 2 - 3,36,Dr. Neelima Satyam,"Dr. Lalit Borana, Dr. Neelima Satyam,",X,0
112,113,CE 404,Design of Structures-III,2 - 1 - 0 - 3,36,Prof. Sandeep Chaudhary,"Prof. Sandeep Chaudhary,",V,1E-408
12,13,CE 402,Water Resources Engineering,2 - 1 - 0 - 3,36,Dr. Manish Kumar Goyal,"Dr. Manish Kumar Goyal,",A,0
33,34,CE 406,Transportation Engineering-II,2 - 1 - 0 - 3,36,Dr. Abhishek Rajput,"Dr. Abhishek Rajput,",C,0
96,97,AA 472N/672N,Galactic and Extragalactic Astronomy,2 - 1 - 0 - 3,39,Dr. Bhargav Vaidya,"Dr. Bhargav Vaidya, Dr. Siddharth S. Malu,",T,1E-408
141,142,CS 420/620,Embedded Systems,2 - 1 - 0 - 3,41,Dr. Gourinath Banda,"Dr. Gourinath Banda,",X,1E-506
108,109,CS 417/617,Cryptography and Network Security,2 - 1 - 0 - 3,42,Dr. Bodhisatwa Mazumdar,"Dr. Bodhisatwa Mazumdar,",U,1E-506
15,16,MM 402/602,Design and Selection of Materials,2 - 1 - 2 - 3,42,Dr. Dudekula Althaf Basha,"Dr. Dudekula Althaf Basha,",A,1E-406
85,86,MM 430/730,Two Dimensional Materials and Electronic Devices,2 - 1 - 0 - 3,43,Dr. Ajay Kumar Kushwaha,"Dr. Ajay Kumar Kushwaha,",S,1E-406
97,98,HS 418/618,Sustainability Studies,3 - 0 - 0 - 3,46,Dr. Pritee Sharma,"Dr. Nirmala Menon, Dr. Pritee Sharma,",T,0
38,39,EE 446/646,Information and Coding Theory,2 - 1 - 0 - 3,47,Prof. Vimal Bhatia,"Prof. Vimal Bhatia,",C,0
19,20,ME 401,Machine Design-II,2 - 2 - 0 - 4,56,Dr. Shailesh Kundalwal,"Dr. Shailesh Kundalwal,",B,0
74,75,IHS 443/643,Contemporary Short Fiction,2 - 1 - 0 - 3,63,Dr. Nirmala Menon,"Dr. Nirmala Menon,",J,0
150,151,IHS 444,Literature of the Twentieth Century,3 - 0 - 0 - 3,87,Dr. Ananya Ghoshal,"Dr. Ananya Ghoshal,",Y,0
133,134,CS 419/619,Computer Vision,2 - 1 - 0 - 3,99,Dr. Surya Prakash,"Dr. Surya Prakash,",W,0
63,64,ME 472/672,Reliability Engineering,2 - 0 - 2 - 3,106,Dr. Bhupesh K. Lad,"Dr. Bhupesh K. Lad,",F,0
157,158,IHS 402,Twentieth Century World History: Critical Pers...,3 - 0 - 0 - 3,172,Dr. C. Upendra,"Dr. C. Upendra,",Z,1B-201
66,67,HS 412/612,Contemporary Indian Thought,2 - 1 - 0 - 3,184,Dr. Shomik Dasgupta,"Dr. Shomik Dasgupta,",H,1B-201

In [84]:
event_details = {code:{"title":name,"slot":slot} for code, name,slot in zip(df["Course Code"],df["Title"],df["Slot"])}

In [89]:
slot_details[event_details["ME 202"]["slot"]]

[('Mon', '10:00 - 10:55'), ('Thu', '10:00 - 10:55'), ('Fri', '10:00 - 10:55')]

# Parsing room details

# Get Courses from registration sheet

In [90]:
import bs4

In [91]:
registration_sheet_path = "Course Registration.html"
with open(registration_sheet_path, 'r') as content_file:
    content = content_file.read()

In [93]:
content

'<!DOCTYPE html>\n<!-- saved from url=(0052)https://academic.iiti.ac.in:8443/courseListprint.jsp -->\n<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n        \n        <title>Course Registration</title>\n    <style type="text/css">\n               \n.auto-style1 {\n  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;\n}\n.auto-style2 {\n  text-align: center;\n}\n.auto-style3 {\n  color: #0000AD;\n}\n</style>\n    \n  <style type="text/css">\n        \n        .top{\nvertical-align:top;\n}\n.bottom{\nvertical-align:bottom;\n}\n        </style>\n     <style>\n.break { page-break-before: always; }\n</style>\n    <style type="text/css"> \n   hr {page-break-before: always}\n   th {font-size: 1.5; font-weight: normal; font-family: "Calibri", "Calibri",Calibri,Calibri;}\n   td {font-size: 1.5; font-family: "Calibri", "Calibri", Calibri;}\n</style>\n    </head>\n    \n    \n  \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    <body>\n    \n  \n   \n      <div style="page-break-after:always"></div>\n   <br>    \n            <center>\n  \n                <table border="0" cellspacing="0" cellpadding="0" width="95%">\n  <tbody><tr>\n      <td align="right">\n      \n      <img src="./Course Registration_files/iiti.png" alt="IIT INDORE" width="100" height="100">\n      </td>\n      <td>\n          \n          <table width="100%">\n          <tbody><tr>\n              <td width="100%"><br><br>\n      <font size="4">&nbsp; </font>\n      <font size="5" face="Century Gothic" color="#003388"> <b>Indian Institute of Technology Indore</b></font><font size="4">\n    </font><br>\n    <p></p>\n</td>\n              </tr>\n          \n      <tr>           \n<td width="100%">\n  <font size="4">&nbsp; </font>\n  <font size="3" face="Century Gothic" color="#003388"><b>Course Registration Form</b></font><font size="4">\n    <br></font><br>\n\n                        <p></p>\n\n                                \n</td>\n              </tr>                                \n                     </tbody></table>           \n   \n           </td>\n                                 </tr>\n                                \n                                </tbody></table>\n            </center>\n            \n   \n   \n  \n        \n        <center>\n        <table border="0" cellspacing="0" cellpadding="0" width="90%">\n          <tbody><tr>\n        <td>  \n         <b>Year(Semester):</b>&nbsp;&nbsp; <u>2020&nbsp;(Spring)</u>\n        </td>\n        \n          </tr>\n        \n        <tr>\n            <td><br><b>Roll No.: </b>&nbsp;&nbsp; 160001007\n                </td>\n                <td><br><b>Name: </b>&nbsp;&nbsp; ARJUN SRIVASATAVA\n                </td>\n                </tr>\n            \n            \n            \n  <tr>\n            \n            <td><br><b>Discipline/Center/School: </b>&nbsp;&nbsp;\n                                                                    Computer Science and Engineering\n                                                                    \n                \n                </td>\n                   <td><br><b>Program: </b>&nbsp;&nbsp; B.Tech.\n                </td>\n                </tr>        \n <tr>\n        \n        \n            <td><br><b>Specialization: </b>&nbsp;&nbsp;\n                                                                    Computer Science and Engineering\n                                                                    \n                \n                \n                </td>\n                 \n                   <td><br><b>&nbsp;\n                </b></td>\n                </tr> \n                \n                \n                \n                <tr>\n            <td><br><b>Credit Registered: </b>&nbsp;&nbsp;  \n                    141.5\n                    \n                </td>\n                    \n                \n              \n                \n                \n            \n\n              \n                \n               \n            <td><br><b>Semester No.: </b>&nbsp;&nbsp;  8\n                </td>\n                  \n                </tr>       \n                \n              \n                \n\n\n\n\n\n\n\n   \n\n\n\n\n\n   \n                \n                <tr>\n            <td><br><b>Academic Standing:</b>&nbsp;&nbsp;  I\n                </td>\n                   <td>&nbsp;\n                </td>\n                </tr>       \n                \n              \n                \n\n\n\n\n\n\n                \n                \n        </tbody></table>\n                <br>\n               <u><b> List of Courses:</b></u>\n               \n               <table border="1" cellspacing="0" cellpadding="0" width="625">\n                   <tbody><tr>\n                       <th width="40">CourseCode</th>\n                       <th width="400"> Course Name</th>\n                       <th width="30"> Contact Hours</th>\n                       <th width="10"> Credit</th>\n                     \n                       </tr>\n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> CE 438\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Probabilistic and Statistical Methods in Civil Engineering\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 2-1-0\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> CS 419/619\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Computer Vision\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 2-1-0\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> HS 412/612\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Contemporary Indian Thought\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 2-1-0\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> IHS 402\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Twentieth Century World History: Critical Perspectives\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 3-0-0\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> ME 472/672\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Reliability Engineering\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 2-0-2\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n                   <tr>\n                       <td align="left" class="top"> MM 430/730\n                           </td>\n                           \n                           \n\n\n\n\n                       \n                        <td> Two Dimensional Materials and Electronic Devices\n                           \n                   \n                   \n                   \n                   </td>\n\n\n           \n                           \n                             \n                       \n                   <td align="center"> 2-1-0\n                           </td>\n              \n                           \n                           \n                           <td align="center">3.0\n                       \n                           \n                           </td>\n                   \n                   </tr>\n                   \n                   \n                   \n                   \n                   \n                       \n             \n                       \n\n\n               \n                    <tr>\n                       <td align="left" class="top"> &nbsp;</td>\n<td align="left" class="top">Total</td>\n\n<td align="center"> 13-4-2\n                           </td>\n\n    <td align="center">18.0</td>\n    </tr>\n\n               \n               \n               \n               \n               \n               </tbody></table>\n                  \n    \n    \n               <br><br>\n               <table border="0" cellspacing="0" cellpadding="0" width="80%">\n                   <tbody><tr>\n                       <td>Signature of Student<br>(with date)\n                           </td>\n                           <td align="right">&nbsp;\n                           </td>\n                   </tr>\n              \n                   </tbody></table>\n                   <br><br>\n                   \n                   <table border="0" cellspacing="0" cellpadding="0" width="80%">\n                           \n                       \n                       \n                       \n                       \n                       \n                       \n                   \n                   <tbody><tr>\n                   <td align="right">&nbsp;\n                       </td>\n                   </tr>\n    \n    \n    \n    \n              <tr>\n                   <td align="left"><br><br> Signature of on duty staff member (Receiver)<br>(with date)\n                       </td>\n                  <td align="right"><br><br> Signature of AO/DR (Academics)<br>(with date)\n                       </td>\n                   </tr>               \n               </tbody></table>\n               \n                </center> \n                 \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n        \n</body></html>'

In [95]:
soup = bs4.BeautifulSoup(content)

In [98]:
tables = soup.find_all("table")

In [118]:
df = pd.read_html(str(tables[3]))[0]

In [119]:
courses = df["CourseCode"].dropna()

0        CE 438
1    CS 419/619
2    HS 412/612
3       IHS 402
4    ME 472/672
5    MM 430/730
Name: CourseCode, dtype: object

In [168]:
code,title, day,start,end = [],[],[],[],[]
time = []
for cc in courses:
    for d,t in slot_details[event_details[cc]["slot"]]:
        code.append(cc)
        title.append(event_details[cc]["title"])
        day.append(d)
        s,e = t.split("-")
        start.append(s.strip()+":00")
        end.append(e+":00")

In [169]:
df = pd.DataFrame([code,title,day,start,end]).T

In [200]:
df.columns = ["code","title","day","start","end"]

In [202]:
df.sort_values(by="day")

,code,title,day,start,end
2,CE 438,Probabilistic and Statistical Methods in Civil...,Fri,09:00:00,09:55:00
5,CS 419/619,Computer Vision,Fri,16:00:00,16:55:00
0,CE 438,Probabilistic and Statistical Methods in Civil...,Mon,09:00:00,09:55:00
9,IHS 402,Twentieth Century World History: Critical Pers...,Mon,14:00:00,14:55:00
3,CS 419/619,Computer Vision,Mon,13:00:00,13:55:00
7,HS 412/612,Contemporary Indian Thought,Sat,14:00:00,14:55:00
8,HS 412/612,Contemporary Indian Thought,Sat,15:00:00,15:55:00
4,CS 419/619,Computer Vision,Thu,15:00:00,15:55:00
11,IHS 402,Twentieth Century World History: Critical Pers...,Thu,13:00:00,13:55:00
14,ME 472/672,Reliability Engineering,Thu,09:00:00,09:55:00
17,MM 430/730,Two Dimensional Materials and Electronic Devices,Thu,16:00:00,16:55:00
1,CE 438,Probabilistic and Statistical Methods in Civil...,Tue,11:00:00,11:55:00
10,IHS 402,Twentieth Century World History: Critical Pers...,Tue,13:00:00,13:55:00
12,ME 472/672,Reliability Engineering,Tue,09:00:00,09:55:00
15,MM 430/730,Two Dimensional Materials and Electronic Devices,Tue,15:00:00,15:55:00
16,MM 430/730,Two Dimensional Materials and Electronic Devices,Wed,15:00:00,15:55:00
13,ME 472/672,Reliability Engineering,Wed,09:00:00,09:55:00
6,HS 412/612,Contemporary Indian Thought,Wed,17:00:00,17:55:00

In [174]:
from datetime import datetime

In [176]:
today = datetime.today()

In [177]:
today

datetime.datetime(2020, 1, 4, 18, 12, 45, 17241)

In [184]:
end = datetime(2020, 5, 6, 23, 59, 59, 0)

In [188]:
end = datetime(2020, 1, 6, 23, 59, 59, 0)

In [190]:
from datetime import timedelta

In [197]:
date = today
while date < end: 
    day= date.strftime('%a')
    for row in df[df["day"]=day].values:
        
    
    date += timedelta(days=1)

Sun
Mon
Tue

In [145]:
ans.sort(key=lambda x: (days[x[0]],x[1]))

In [146]:
days = ["Mon","Tue","Wed","Thu","Fri","Sat"]
days = {days[i]:i for i  in range(len(days)) }

In [148]:
ans[0]

('Mon',
 '09:00 - 09:55',
 'CE 438',
 'Probabilistic and Statistical Methods in Civil Engineering')

In [138]:
days

{'Mon': 0, 'Tue': 1, 'Wed': 2, 'Thu': 3, 'Fri': 4, 'Sat': 5}

In [143]:
from ics import Calendar, Event

In [157]:
c = Calendar()

In [159]:
e = Event()
e.name = "My cool event"
e.begin = '2020-01-03 18:00:00'
e.end =

In [154]:

c.events

{<Event 'My cool event' begin:2020-01-03T18:00:00+00:00 end:2020-01-03T18:00:00+00:00>}

In [155]:
with open('.ics', 'w') as f:
    f.write(str(c))

In [156]:
str(c)

'BEGIN:VCALENDAR\r\nBEGIN:VEVENT\r\nDTSTART:20200103T180000Z\r\nSUMMARY:My cool event\r\nUID:b1f50870-9ab6-4a6c-b052-3fe2baf0ce16@b1f5.org\r\nEND:VEVENT\r\nPRODID:ics.py - http://git.io/lLljaA\r\nVERSION:2.0\r\nEND:VCALENDAR'